/* @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&family=Fira+Mono:wght@400;500&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  background-color: #fbfbfb;
}

html,
body {
  overflow: auto;
  scrollbar-width: none !important;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none !important;
}

.bg-primary {
  background-color: white;
}

.bg-primary-gradient {
  background: linear-gradient(to bottom, rgb(249, 249, 249), rgb(246, 246, 246) 80%);
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.05);
}

.bg-primary-gradient:hover {
  background: linear-gradient(to bottom, rgb(240, 240, 240), rgb(240, 240, 240) 80%);
}

.text-gray-lab {
  color: #727272;
}

.bg-secondary {
  background-color: #1c1c1c;
}

.user-message-color {
  background-color: #e9e9e980;
}

.text-primary {
  color: #1c1c1c;
}

.text-secondary {
  color: #fbfbfb;
}
.word-break {
  word-break: break-word;
}

.border-primary {
  border: 0.0625rem solid rgba(0, 0, 0, 0.1);
}

.border-secondary {
  border-color: #e9e9e980;
}

.icon-bg {
  background-color: #292929;
}

body {
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
}

button {
  cursor: pointer;
}

button:active {
  scale: 0.98;
}

.userMessage .markdown *:not(pre *):not(code *) {
  color: #1c1c1c !important;
}

@media (max-width: 640px) {
  .markdown .table-wrap {
    -webkit-overflow-scrolling: touch;
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 2.5s infinite;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}
